/* Existing styles */
body,
html,
a,
p,
button,
#main {
	font-family: 'Comic Sans MS', 'Comic Sans', cursive !important;
	overflow: hidden;
}

a {
	color: rgb(47, 47, 255);
	transition: color 0.3s ease;
	&:hover {
		color: rgb(25, 25, 225);
	}
}

html {
	scroll-behavior: auto;
	overflow-y: unset;
}

body,
#main {
	margin: 0;
	background: #f472b6;
	color: white;
	min-height: 100%;
	min-width: 100%;
}

:root {
	overflow-y: hidden;
}

/* width */
.custom-scrollbar ::-webkit-scrollbar {
	width: 2px;
}

/* Handle */
.custom-scrollbar ::-webkit-scrollbar-thumb {
	background: #bdc4de;
	border-radius: 10px;
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE 11 */
	scrollbar-width: none; /* Firefox 64 */
	overflow: -moz-scrollbars-none;
}

svg {
	fill: currentColor;
}

#cookie-svg {
	position: fixed;
	bottom: 8px;
	right: 8px;
	background-image: linear-gradient(to bottom right, transparent 30%, purple, transparent 70%);
	padding: 8px;
	border-radius: 50%;
	z-index: 9999999;
	transition: all 500ms ease;
	&:hover {
		transform: rotate(360deg);
	}
}
