@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&display=swap');

body {
	font-family: 'Comic Neue', 'Comic Sans MS', 'Comic Sans', sans-serif;
	background: #f472b6;
	color: white;
	&.dark {
		background: #840a4a;
	}
}

a {
	text-decoration: underline;
	color: rgb(47, 47, 255);
	transition: color 0.3s ease;
	&:hover {
		color: rgb(25, 25, 225);
	}
}

#cookie-svg {
	position: fixed;
	bottom: 8px;
	right: 8px;
	background-image: linear-gradient(to bottom right, transparent 30%, purple, transparent 70%);
	padding: 8px;
	border-radius: 50%;
	z-index: 9999999;
	transition: all 500ms ease;
	&:hover {
		transform: rotate(360deg);
	}
}

@keyframes enter {
	0% {
		opacity: var(--tw-enter-opacity, 1);
		transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0)
			scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1))
			rotate(var(--tw-enter-rotate, 0));
	}
}

@keyframes exit {
	to {
		opacity: var(--tw-exit-opacity, 1);
		transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0)
			scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1))
			rotate(var(--tw-exit-rotate, 0));
	}
}
